.register-form {
    padding: 200px 0;
    display: flex;
    justify-content: center;
}

.fields-wrapper {
    justify-items: center;
    max-width: 400px;
    border: 1px solid rgb(163, 128, 128);
    border-radius: 5px;
    padding: 70px 170px 140px;
    background: linear-gradient(52deg, rgba(59, 71, 73, 0.692) 0%, rgba(26, 87, 101, 0.795) 54%, rgba(228, 235, 235, 0.788) 89%);
    box-shadow: 0px 0px 5px;
}

.fields-wrapper>h2 {
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.fields-wrapper>input {
    padding: 2px;
    width: 100%;
    max-width: 400px;
    height: 35px;
    font-size: 16px;
    margin-bottom: 40px;
    border-radius: 4px;
    border: none;
    background-color: rgba(240, 248, 255, 0.815);
}

.fields-wrapper>label {
    letter-spacing: 2px;
    font-size: 18px;
    padding: 2px;
}

.fields-wrapper>h2,
.fields-wrapper>label,
.fields-wrapper>button,
.no-account {
    font-family: "Montserrat", sans-serif;
}

.fields-wrapper>button {
    font-size: 18px;
    letter-spacing: 1px;
    padding: 10px;
    padding-right: 65px;
    padding-left: 65px;
    border-radius: 4px;
    border: none;
    background: linear-gradient(270deg, rgb(141, 222, 228) 23%, rgba(9, 171, 232, 1) 50%, rgba(124, 217, 224, 1) 77%);
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
    max-width: 405px;
}

.fields-wrapper>button:hover {
    background: linear-gradient(270deg, rgb(166, 234, 240) 23%, rgb(13, 124, 165) 50%, rgb(166, 234, 240) 77%);
}

.no-account {
    margin-top: 80px;
}

.no-account>p {
    margin-bottom: 10px;
    text-align: center;
}

.no-account>a {
    justify-content: center;
    text-decoration: none;
    display: flex;
    font-weight: 500;
}

.no-account>a:hover {
    text-decoration: underline;
}

@media (max-width: 758px) {
    .fields-wrapper {
        padding: 40px 30px;
        max-width: 100%;
        height: fit-content;
    }

    .fields-wrapper>input,
    .fields-wrapper>button {
        width: 100%;
        margin-left: 0;
    }

    .fields-wrapper>label {
        margin-left: 0;
    }

    .fields-wrapper>h2 {
        text-align: center;
    }
}
