main {
    background-color: #8F0000;
    max-width: 500px;
    padding: 20px;
}

p {
    text-align: center;
    color: white;
    font-family: "Unna", serif;
}

.righteous-regular {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    letter-spacing: 2px;
    text-align: center;
    color: white;
    font-family: "Righteous", sans-serif
}

h2 {
    text-align: center;
    color: #E7CD91;
}