<main class="search">
    <!-- Search Page (Only for logged-in users) -->
    <section id="search">
        <h2>Search by Name</h2>

        <form class="search-wrapper cf" method="GET">
            <input id="#search-input" type="text" name="name" placeholder="Search here..." required />
            <button type="submit">Search</button>
        </form>

        <div id="search-container">
            <ul class="card-wrapper">
                {{>catalog}}
            </ul>
        </div>
    </section>
</main>