#menu {
    max-width: 250px;
    background-color: azure;
    padding: 40px;
    padding-right: 150px;
    border: solid grey;
    border-width: 1px;
}

ul,
a {
    font-size: 22px;
    color: brown;
    text-decoration: none;
    vertical-align: super;
    margin-left: 5px;
}

button {
    margin-top: 50px;
    color: white;
    padding: 8px;
    font-size: 15px;
    padding-right: 15px;
    padding-left: 15px;
    border-width: 1px;
    border-color: dimgray;
    border-radius: 3px;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.3);
}

button:hover {
    cursor: pointer
}

#checkout {
    background-color: #86AE4D;
}

#info {
    background-color: #33689C;
}

#delete {
    background-color: #8f2117;
}
#checkout:hover {
    background-color: #3f571e;
}

#info:hover {
    background-color: #193b5e;
}

#delete:hover {
    background-color: #5e1812;
}