<!-- <nav>
    <div>
        <a class="nav-btn" href="">Вход</a>
        <a class="nav-btn" href="">Регистрация</a>
        <a class="nav-btn" href="">Профил</a>
        <a class="nav-btn" href="">Рецепти</a>
        <a class="nav-btn" href="">Търсeне</a>
        <a class="nav-btn" href="">Изход</a>
    </div>
</nav> -->
<nav class="navigation">
    <div class="nav-container">
        <ul class="nav-buttons">
            <li class="logo">Delicious Recipes</li>
            <li>
                <a routerLink="/catalog" class="nav-btn" href="">Recipes</a>
            </li>
            <li>
                <a class="nav-btn" href="">Profile</a>
            </li>
            <li>
                <a routerLink="/create" class="nav-btn" href="">Create</a>
            </li>
            <li>
                <a routerLink="/login" class="nav-btn" href="">Login</a>
            </li>
            <li>
                <a routerLink="/register" class="nav-btn" href="">Register</a>
            </li>
            <li>
                <a class="nav-btn" href="">Logout</a>
            </li>
        </ul>
        <div class="hamburger-menu">
            &#9776; <!-- Hamburger icon (3 horizontal bars) -->
        </div>
    </div>
</nav>