<form class="register-form">
    <div class="fields-wrapper">
        <h2>Register</h2>
        <label for="email">Email</label>
        <input type="text" name="email">
        <label for="username">Username</label>
        <input type="text" name="username">
        <label for="password">Password</label>
        <input type="password" name="password">
        <label for="rePass">Confirm Password</label>
        <input type="password" name="rePass">
        <button type="button">Register</button>
        <div class="no-account">
            <p>Already have an account?</p>
            <a href="">Login</a>
        </div>
    </div>
</form>