<!-- <div class="error-containers">
            <p>Error</p>
        </div> -->

<form class="login-form" method="POST">
    <label for="username">Username:</label>
    <input type="text" id="username" value="{{userData.username}}" name="username">

    <label for="password">Password:</label>
    <input type="password" id="password" name="password">

    <button type="submit">Login</button>
    <p class="signup">Don't have an account? <a href="/user/register">Sign up here</a></p>
</form>